.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .about-us-content {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .about-us-content h1 {
    color: #333;
  }
  
  .about-us-content p {
    color: #555;
    margin-bottom: 15px;
  }
  