/* Contact.css */

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .contact-content {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .contact-content h1 {
    color: #333;
  }
  
  .contact-content p {
    color: #555;
    margin-bottom: 15px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-top: 10px;
    color: #333;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #a40f0f;
    border-radius: 5px;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #0056b3;
    }
  }
  